.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
build/
coverage/
*.iml
.idea/
.DS_Store
macos/Flutter/ephemeral/
macos/Pods/
macos/Runner.xcworkspace/xcuserdata/
macos/Runner.xcodeproj/xcuserdata/
linux/flutter/ephemeral/
windows/flutter/ephemeral/
*.temp
dist/
__pycache__/
*.pyc
